{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "svelteSortOrder": "scripts-markup-styles",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false
}
